.project-container {
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: 100%;
}
.tab-root {
  margin-bottom: 0.75rem;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-container img,
.video-container video {
  border-radius: 0.4rem;
  margin: 0.6rem;
  cursor: pointer;
}

.img-container img {
  width: 25rem;
  height: 15rem;
}

.video-container video {
  width: 45rem;
  height: 25rem;
}

h5 {
  text-align: center;
  font-size: 12px;
}

@media (max-width: 600px) {
  .img-container img,
  .video-container video {
    width: 20rem;
    height: 10rem;
    border-radius: 0.4rem;
    margin: 0.6rem;
    cursor: pointer;
  }
}
