#certificate-container {
  width: 50%;
}
.certificate-container {
  background-color: #4f4789;
  border-radius: 1rem;
  height: 15rem;
  padding-bottom: 2.3rem;
  overflow-y: auto;
}

.certificate-container-title {
  font-size: 15px;
}
p {
  font-size: 15px;
}

.cert-logo {
  margin-top: 1rem;
  width: 50%;
  height: auto;
  margin-left: 3rem;
}

.cert-img {
  max-width: 60%;
  max-height: 50%;
  max-width: fit-content;
  align-items: center;
}
.course-title {
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 1.6rem;
  cursor: pointer;
}
.course-title:hover {
  color: #9eb7e5;
  font-size: 18px;
}

@media (max-width: 800px) {
  #certificate-container {
    width: 100%;
  }
  .certificate-container {
    overflow-y: auto;
  }

  .certificate-container::-webkit-scrollbar-thumb {
    background-color: #130e3c;
    border-radius: 4px;
  }
}
