.skills-container {
  padding: 2rem;
}
.skills-container-title {
  text-align: center;
  margin-bottom: 3rem;
}
.carousel-item {
  text-align: center;
}

.skill-name {
  margin-top: 3rem;
  text-align: center;
}

.skill-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.1);
}
