#skills {
  width: 80%;
  padding: 2rem;
}

.skill-box {
  text-align: center;
}

h3 {
  margin-bottom: 4rem;
}

p {
  margin-top: 3rem;
  text-align: center;
}

.skill-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.1);
}
