.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #170d27;
  border-radius: 2rem;
  width: 100%;
  max-width: fit-content;
  margin: auto;
  z-index: 999;
  box-sizing: border-box;
}

.navbar-items {
  display: flex;
  gap: 15px;
}

.navbar-items a {
  color: #f9f0ff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-items a:hover {
  color: #beacec;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #f9f0ff;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #170d27;
    border-radius: 0 0 3rem 3rem;
  }

  .navbar-items.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
