.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #170d27;
  border-radius: 1rem;
  max-width: fit-content;
  margin: auto;
  margin-top: 1rem;
  z-index: 999;
  box-sizing: border-box;
}

.navbar-items {
  display: flex;
  gap: 15px;
}

.navbar-items a {
  color: #f9f0ff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-items a:hover {
  color: #beacec;
}

@media (max-width: 800px) {
  .navbar {
    background-color: #201335;
    margin: 0;
  }
  .navbar-items {
    display: none;
  }
}
