.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #170d27;
}
.social-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}

.social-container-title {
  color: #beacec;
  font-size: 18px;
  text-align: left;
}
.social-icon {
  color: #9eb7e5;
}
.link-content {
  font-size: 15px;
  margin: 0;
}
.link-content a {
  margin: 0;
}
.link-content {
  text-decoration: none !important;
  color: #fffded !important;
}
.link-content:hover {
  color: #9eb7e5 !important;
}

@media (max-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}
