.App {
  display: flex;
  flex-direction: column;
  background-color: #201335 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
#skills,
#about,
#education,
#projects {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #201335;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4789;
  border-radius: 3rem;
}
